<div class="summary">
  <a href="#" target="_blank">
    <i class="share-icon" ></i>
  </a>
  <div class="user">
    <div class="avatar"></div>
    <div class="about">
      <div class="name">
        <span class="fullname">{{ profile.fullName }}</span>
        <i
          class="like-icon"
          (click)="onHeartIconClick()"
          [class.liked]="isProfileLiked"
        ></i>
      </div>
      <div class="location">
        <span class="town">{{ profile.town }}</span>, <span class="country">{{ profile.country }}</span>
      </div>
    </div>
  </div>
  <div class="social-tools">
    <div class="stats">
      <div class="stat stat-likes">
        <div class="count">{{ profile.likes }}</div>
        <div class="name">Likes</div>
      </div>
      <div class="stat">
        <div class="count">{{ profile.following }}</div>
        <div class="name">Following</div>
      </div>
      <div class="stat stat-followers">
        <div class="count">{{ profile.followers }}</div>
        <div class="name">Followers</div>
      </div>
    </div>
    <input type="button" [value]="getProfileButtonValue()" class="follow-btn" (click)="onFollowButtonClick()">
  </div>
</div>
