@import '~src/assets/scss/variables.scss';

.summary {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $color-light-gray;
  padding: 20px 20px 28px;
  margin-bottom: 10px;
  @media (max-width: $breakpoint-mobile) {
    height: 173px;
  }
  .share-icon {
    width: 10px;
    height: 10px;
    background: url('/assets/img/redirect.png');
    background-size: cover;
    display: inline-block;
    position: absolute;
    right: 20px;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: $breakpoint-mobile) {
      right: 10px;
      top: 10px;
    }
  }
  .user {
    display: flex;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -70px;
    }
    .avatar {
      width: 70px;
      height: 70px;
      display: inline-block;
      background-image: url('http://blog.modcloth.com/wp-content/uploads/2010/06/top_ten-6-10.jpg');
      background-size: 158%;
      background-position: 48% 8%;
      background-repeat: no-repeat;
      border-radius: 50px;
      @media (max-width: $breakpoint-mobile) {

      }
    }
    .about {
      margin-left: 20px;
      @media (max-width: $breakpoint-mobile) {
        margin: 0;
        text-align: center;
      }
      .name {
        margin-top: 18px;
        .fullname{
          font-size: 18px;
          color: $color-blue;
          font-weight: 700;
        }
        .like-icon {
          width: 15px;
          height: 15px;
          background: url("/assets/img/heart.png") no-repeat;
          display: inline-block;
          vertical-align: middle;
          background-size: 100%;
          margin-left: 10px;
          cursor: pointer;
          &.liked {
            background: url("/assets/img/heart-selected.png") no-repeat;
            background-size: 100%;
          }
        }
      }
      .location {
        font-size: 12px;
        color: $color-dark-gray;
      }
    }
  }
  .social-tools {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -70px;
    }

    .stats {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 180px);
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        margin-bottom: 20px;
      }
      .stat {
        &-likes {
          width: 40px;
        }
        &-followers {
          width: 65px;
        }
        .count {
          font-size: 24px;
          color: $color-orange;
        }
        .name {
          font-size: 10px;
          color: $color-dark-gray;

        }
      }
    }
    .follow-btn {
      width: 135px;
      background-color: $color-orange ;
      border: 0;
      color: #fff;
      padding: 14px 27px;
      border-radius: 100px;
      font-weight: 700;
      &:focus{
        outline: none;
      }
      &:hover {
        cursor: pointer;
        background-color: darken($color-orange, 20%);
      }
      @media (max-width: $breakpoint-mobile) {
        text-align: center;
        width: 100%;
      }
    }
  }
}
