
@import '~src/assets/scss/variables.scss';

.profile-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  @media (max-width: $breakpoint-mobile) {
    width: 283px;
  }
  .profile {
    height: 706px;
    position: relative;
    border: 1px solid $color-light-gray;
    border-radius: 5px;
    transition: all 350ms linear;
    @media (max-width: $breakpoint-mobile) {
      height: 744px;
    }
    &.collapsed-comments {
      height: 367px;
    }
    .header {
      height: 95px;
      width: 100%;
      background-color: $color-blue;
      position: absolute;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .profile-content {
      width: calc(100% - 34px);
      margin: 36px 17px 0px;
      position: relative;
      z-index: 10;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
