<div class="profile-container">
  <div class="profile" [class.collapsed-comments]="!displayComments">
    <div class="header"></div>
    <div class="profile-content">
      <app-summary [profile]="profile"></app-summary>
      <app-comments 
        [profile]="profile"
        (displayCommentsEmitter)="displayComments=$event" 
      ></app-comments>
    </div>
  </div>
</div>
