@import '~src/assets/scss/variables.scss';

.comments{
  padding-top: 25px;
  padding-bottom: 6px;
  font-size: 14px;
  border: 1px solid $color-light-gray;
  border-radius: 5px;
  .scrollbar {
    height: 380px;
  }
  .display-comments {
    font-size: 14px;
    color: $color-orange;
    padding-left: 20px;
    margin-bottom: 30px;
    &:hover {
      cursor: pointer;
      color: darken($color-orange, 20%)
    }
    @media (max-width: $breakpoint-mobile) {
      padding-left: 0;
      text-align: center;
    }
  }
  .list-of-comments {
    height: 380px;
    list-style: none;
    padding: 0;
    margin: 0;
    .comment {
      display: flex;
      margin-bottom: 30px;
      border-bottom: 1px solid $color-light-gray;
      padding-left: 20px;
      margin-right: 20px;
      &.last-comment {
        border-bottom: 0;
      }
      .user-img {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url('http://blog.modcloth.com/wp-content/uploads/2010/06/top_ten-6-10.jpg');
        background-size: 158%;
        background-position: 48% 8%;
        background-repeat: no-repeat;
        border-radius: 50px;
        flex-shrink: 0;
      }
      .comment-container {
        width: 100%;
        margin-left: 10px;
        @media (max-width: $breakpoint-mobile) {
          margin-top: 10px;
        }
        .comment-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          .full-name {
            color: $color-blue;
            font-weight: 700;
          }
          .time {
            color: $color-dark-gray;
          }
        }
        .comment-text {
          width: 85%;
          padding-bottom: 25px;
          @media (max-width: $breakpoint-mobile) {
            width: 100%;
          }
        }
      }
    }
  }

  .add-comment-container {
    width: calc(100% - 36px);
    margin: 0 auto;
    @media (max-width: $breakpoint-mobile) {
      padding-left: 25px;
    }
    .add-comment {
      width: calc(100% - 25px);
      font-size: 18px;
      color: $color-dark-gray;
      border: 0;
      border-bottom: 2px solid $color-light-gray;
      margin-top: 62px;
      margin-bottom: 25px;
      padding-bottom: 5px;
      @media (max-width: $breakpoint-mobile) {
        margin-top: 33px;
      }
      &:focus{
        outline: none;
      }
      &::-webkit-input-placeholder {
        font-size: 18px;
        color: $color-dark-gray;
      }
    }
  }

}
