<div class="comments">
  <div
    class="display-comments"
    (click)="onDisplayCommentsClick()"
  >
    <ng-container *ngIf="!displayComments else hideComments">Show</ng-container>
    <ng-template #hideComments>Hide</ng-template>
    comments ({{ profile?.comments.length }})
  </div>
  <div
    class="comments-content"
    [@slideAnimation]="{ value: getDisplayCommentsState(), params: { height: 1000 } }"
  >
    <ng-scrollbar class="scrollbar" #NgListOfCommentsScrollbar>
      <ul class="list-of-comments">
        <ng-container  *ngFor="let comment of profile?.comments; let lastComment = last">
          <li class="comment" [class.last-comment]="lastComment">
            <i class="user-img"></i>
            <div class="comment-container">
              <div class="comment-header">
                <div class="full-name">{{ comment.fullName }}</div>
                <div class="time">
                  <ng-container *ngIf="(comment.time === 0) else elseComment">now</ng-container>
                  <ng-template #elseComment>
                    {{ comment.time }}d
                  </ng-template>
                </div>
              </div>
              <div class="comment-text">
                {{ comment.text }}
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-scrollbar>
    <div class="add-comment-container">
      <input
        type="text"
        class="add-comment"
        placeholder="Add a new comment"
        #comment
        (keyup.enter)="onAddCommentEnter(comment.value); comment.value = ''"
      >
    </div>
  </div>
</div>
